# Problem 1

In [1]:
import pandas as pd
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('problem_1\\train.csv')

df.loc[df['Albumin_and_Globulin_Ratio'].isna(),'Albumin_and_Globulin_Ratio'] = df['Albumin']/(df['Total_Protiens'] - df['Albumin'])

df['male'] = 0
df['female'] = 0
df.loc[df.Gender == "Male",'male'] = 1
df.loc[df.Gender == "Female",'female'] = 1

df['indirect_bilirubin'] = df['Total_Bilirubin'] - df['Direct_Bilirubin']
df['Globulin'] = df['Total_Protiens'] - df['Albumin']

In [3]:
df.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset,male,female,indirect_bilirubin,Globulin
0,60,Male,6.3,3.2,314,118,114,6.6,3.7,1.27,1,1,0,3.1,2.9
1,31,Female,0.8,0.2,158,21,16,6.0,3.0,1.00,1,0,1,0.6,3.0
2,60,Male,19.6,9.5,466,46,52,6.1,2.0,0.40,1,1,0,10.1,4.1
3,34,Male,8.7,4.0,298,58,138,5.8,2.4,0.70,1,1,0,4.7,3.4
4,26,Female,0.9,0.2,154,16,12,7.0,3.5,1.00,1,0,1,0.7,3.5

# 1 Logistic Regression

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

feature_cols =  ['Total_Bilirubin', 'Direct_Bilirubin', 'Alkaline_Phosphotase', 'Alamine_Aminotransferase']

y = df['Dataset']
X = df[feature_cols]
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 1)
log_reg = LogisticRegression()
log_reg.fit(X_train,y_train)
score = accuracy_score(log_reg.predict(X_test),y_test)
print(score)

0.7863247863247863

C:\Users\hp-pc\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

# 2 SVC

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC,NuSVC
from sklearn.metrics import accuracy_score

feature_cols = ['Age', 'Total_Bilirubin', 'Direct_Bilirubin', 'Alkaline_Phosphotase']

y = df['Dataset']
X = df[feature_cols]
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 1)
svc = NuSVC(gamma='auto')
svc.fit(X_train,y_train)
score = accuracy_score(svc.predict(X_test),y_test)
print(score)

0.811965811965812

In [6]:
test_df = pd.read_csv('problem_1\\test.csv')

In [7]:
test_df.loc[test_df['Albumin_and_Globulin_Ratio'].isna(),'Albumin_and_Globulin_Ratio'] = test_df['Albumin']/(test_df['Total_Protiens'] - test_df['Albumin'])

test_df['male'] = 0
test_df['female'] = 0
test_df.loc[test_df.Gender == "Male",'male'] = 1
test_df.loc[test_df.Gender == "Female",'female'] = 1

test_df['indirect_bilirubin'] = test_df['Total_Bilirubin'] - test_df['Direct_Bilirubin']
test_df['Globulin'] = test_df['Total_Protiens'] - test_df['Albumin']

In [8]:
feature_cols = ['Age', 'Total_Bilirubin', 'Direct_Bilirubin', 'Alkaline_Phosphotase']

y = df['Dataset']
X = df[feature_cols]
svc = NuSVC(gamma='auto')
svc.fit(X,y)

X_test = test_df[feature_cols]
test_df['Dataset'] = svc.predict(X_test)

In [10]:
test_df['Dataset'].to_csv('problem_1.csv',index=None,header=True)

# Problem 2

In [15]:
data = pd.read_csv('problem_2\\problem_2_train.csv')

In [16]:
data.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days
0,2851218,AN,7,500004,233,233,131,A,ADLD,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5
1,2838330,AJ,10,226010,233,233,131,A,ADLD,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12
2,2835781,AJ,2,110018,233,233,228,A,ADLD,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9
3,2838589,AM,2,110018,233,233,228,B,ADLD,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9
4,2855214,AN,21,110015,233,233,131,A,ADLD,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8

In [17]:
data['A'] = 0
data['B'] = 0
data['C'] = 0
data['D'] = 0

data.loc[data.custpincodecategory == 'A','A'] = 1
data.loc[data.custpincodecategory == 'B','B'] = 1
data.loc[data.custpincodecategory == 'C','C'] = 1
data.loc[data.custpincodecategory == 'D','D'] = 1

data['A'] = data['A'].astype(int)
data['B'] = data['B'].astype(int)
data['C'] = data['C'].astype(int)
data['D'] = data['D'].astype(int)

In [18]:
data['ADLD'] = 0
data['EW'] = 0

data.loc[data.claimtype == 'ADLD','ADLD'] = 1
data.loc[data.claimtype == 'EW','EW'] = 1

data['ADLD'] = data['ADLD'].astype(int)
data['EW'] = data['EW'].astype(int)

In [19]:
data['memcreateddate'] = pd.to_datetime(data['memcreateddate']).dt.month

data['mobilepurchasedate'] = pd.to_datetime(data['mobilepurchasedate']).dt.month
data['claimintdate'] = pd.to_datetime(data['claimintdate']).dt.month

data['pickupStartdate'] = pd.to_datetime(data['pickupStartdate']).dt.month

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np

feature_cols = [
           'hubpincode',
           
           'deliverypartnerid',
           'insuranceCompanyId',
           'custpincode',
           'memcreateddate',
           'mobilepurchasedate',
           'claimintdate',
           'servicecntrid',
           'pickupStartdate',
           'A', 'B', 'C', 'D', 'ADLD', 'EW']

y = data['tat_in_days']
X = data[feature_cols]

X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 1)
lin_reg = LinearRegression()

lin_reg.fit(X_train,y_train)
err = np.sqrt(mean_squared_error(lin_reg.predict(X_test),y_test))

In [23]:
print(err)

4.852258285729807

In [21]:
test_data = pd.read_csv('problem_2\\problem_2_test.csv')

In [22]:
test_data['A'] = 0
test_data['B'] = 0
test_data['C'] = 0
test_data['D'] = 0

test_data.loc[test_data.custpincodecategory == 'A','A'] = 1
test_data.loc[test_data.custpincodecategory == 'B','B'] = 1
test_data.loc[test_data.custpincodecategory == 'C','C'] = 1
test_data.loc[test_data.custpincodecategory == 'D','D'] = 1

test_data['A'] = test_data['A'].astype(int)
test_data['B'] = test_data['B'].astype(int)
test_data['C'] = test_data['C'].astype(int)
test_data['D'] = test_data['D'].astype(int)

In [23]:
test_data['ADLD'] = 0
test_data['EW'] = 0

test_data.loc[test_data.claimtype == 'ADLD','ADLD'] = 1
test_data.loc[test_data.claimtype == 'EW','EW'] = 1

test_data['ADLD'] = test_data['ADLD'].astype(int)
test_data['EW'] = test_data['EW'].astype(int)

In [24]:
test_data['memcreateddate'] = pd.to_datetime(test_data['memcreateddate']).dt.month

test_data['mobilepurchasedate'] = pd.to_datetime(test_data['mobilepurchasedate']).dt.month
test_data['claimintdate'] = pd.to_datetime(test_data['claimintdate']).dt.month

test_data['pickupStartdate'] = pd.to_datetime(test_data['pickupStartdate']).dt.month

In [25]:
feature_cols = ['srno',
           'hubid',
           'hubpincode',
           'pickuppartnerid',
           'deliverypartnerid',
           'insuranceCompanyId',
           'custpincode',
           'memcreateddate',
           'mobilepurchasedate',
           'claimintdate',
           'servicecntrid',
           'pickupStartdate',
           'A', 'B', 'C', 'D', 'ADLD', 'EW']

y = data['tat_in_days']
X = data[feature_cols]
lin_reg = LinearRegression()
lin_reg.fit(X,y)

X_test = test_data[feature_cols]
test_data['tat_in_days'] = lin_reg.predict(X_test)

In [26]:
test_data['tat_in_days'] = test_data['tat_in_days'].astype(int)

In [27]:
test_data['tat_in_days'].to_csv('problem_2.csv',index=None,header=True)